{% extends "base.html" %}

{% block title %}sdb{% endblock %}

{% block body_class %}class="narrow"{% endblock %}

{% block content %}

<div id="target_head">
    
{% block search %}{{ super() }}{% endblock %}

<h1>sdb</h1>

<div>star database + sed models</div>

</div>

<p><div>These pages aim to provide an easy way to explore photometry of stars within a few hundred parsecs. Everything is still under development, and I am open to ideas.</div></p>

<p><div>Access to the database is either via search or samples. Searching for targets not currently in the database will result in an import attempt. These attempts are not always successful at present, so if your star isn't here feel free to ask me.</div></p>

<p><div>Don't publish anything based on what you see here without talking to me first.</div></p>

<p>
<a href="login">login</a>
|
<a href="samples">samples</a>
|
<a href="calibration">calibration</a>
|
<a href="filters.html">filters</a>
|
<a href="https://github.com/drgmk/sdb" target="_blank">github</a>
</p>

{% endblock content %}
