{% extends "base.html" %}

{% block title %}{{ main_id }}{% endblock %}

{% block body_class %}class="sed"{% endblock %}
{% block body %}

{% block content %}
<div id="target_head">

    {% block search %}{{ super() }}{% endblock %}

    <div class="target_info">
        <h1>{{ main_id }}</h1>
        [
        
        {% if ra %}
        &alpha;={{ (ra/15.0)|round(1) }}h, &delta;={{ dec|round(1) }}&deg;
        {% endif %}
        
        {% if spty %}
        | {{ spty }}
        {% endif %}
        
        {% if plx %}
        | d={{ (1000.0/plx)|round(1) }} pc
        {% endif %}
        
        ]
    </div>
    
    {% if xids %}
    <div class="xids">
        {% for id in xids %}
        {% if loop.index is greaterthan 1 %}
        ,
        {% endif %}
        {{ id }}
        {% endfor %}
    </div>
    {% endif %}
    
    <div class="links">
        <table>
            <tr>
                {% if phot_file %}
                <td>
                    Figs:
                    <a href="./" title="sed">sed</a>
                    |
                    <a href="f_limits.html" title="f limits">limits</a>
                </td>
                <td>
                    I/O:
                    <a href="{{ phot_file }}" title="Input photometry file">data</a>
                    |
                    <a href="{{ json_file }}" title="Best-fit results in json format">model</a>
                </td>
                <td>
                    Post:
                    <a href="{{ par_dist }}" title="Fitting posteriors" target="_blank">fit</a>
                    |
                    <a href="{{ derived_dist }}" title="Derived parameters" target="_blank">extra</a>
                </td>
                {% endif %}
                
                <td>
                    
                    Ext:
                    <a href="http://simbad.u-strasbg.fr/simbad/sim-basic?submit=SIMBAD+search&Ident={{ main_id|urlencode }}" target="_blank" title="Simbad">simbad</a>
                    
                    {% if ra %}
                    | <a href="http://cdsportal.u-strasbg.fr/?target={{ ra }}%20{{ dec}}" target="_blank" title="CDS Portal">cds</a>

                    | <a href="http://cassis.sirtf.com/atlas/cgi/radec.py?ra={{ ra }}&dec={{ dec }}&radius=20" target="_blank" title="Cornell IRS Spectra">cassis</a>
                    
                    | <a href="https://irsa.ipac.caltech.edu/applications/finderchart/servlet/api?mode=getResult&locstr={{ ra }},{{ dec}}" target="_blank" title="IRSA Finder Chart query">finder</a>
                    
                    | <a href="http://sha.ipac.caltech.edu/applications/Spitzer/SHA/#id=SearchByPosition&RequestClass=ServerRequest&DoSearch=true&SearchByPosition.field.radius=0.13888889000000001&UserTargetWorldPt={{ ra }};{{ dec }};EQ_J2000&SimpleTargetPanel.field.resolvedBy=nedthensimbad&MoreOptions.field.prodtype=aor,pbcd&shortDesc=Position&isBookmarkAble=true&isDrillDownRoot=true&isSearchResult=true" target="_blank" title="Spitzer Heritage Archive query">spitzer</a>
                    
                    | <a href="https://mast.stsci.edu/portal/Mashup/Clients/Mast/Portal.html?searchQuery={{ ra }},{{ dec }}" target="_blank" title="MAST Archive">mast</a>
                    
                    {% endif %}
                    
                    {% if iau_coord %}
                    | <a href="http://sky.esa.int/?action=goto&hips=AllWISE%20color&target={{ ra }}%20{{ dec }}" target="_blank" title="ESA Sky">esasky</a>
                    {% endif %}
                    
                    {% if h_obsid != 'None' %}
                    | <span class="dropdown">
                        <button class="dropbtn">...</button>
                        <div class="dropdown-content">
                        <a href="http://drgmk.com/hdb/find.php?obsid={{ h_obsid }}" target="_blank" title="Herschel PSF fitting">Herschel PSF fit</a>
                        </div>
                      </span>
                    {% endif %}
                    
                    
                </td></tr>
        </table>
    </div>
    
    {% if best_fit %}
    <div class="best_fit">
        <div class="best_fit_title">Best fit:</div>
        {% for m in best_fit %}
        <div class="best_fit_line">{{ m }}</div>
        {% endfor %}
    </div>
    {% endif %}
    
</div><!-- end header section -->

{{ plot_script|indent(8) }}
{{ plot_div|indent(8) }}

{% endblock content %}

{% block footer %}
{{ super() }}
{% endblock %}

{% endblock body %}
